* {
    margin: 0;
    padding: 0;
}
body {
    background: url(/Morocco-Reopening-Borders-For-Tourism-Everything-You-Need-To-Know.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-logo {
    width: 10%;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    cursor: pointer;
    animation: drapo ease-in-out 5s infinite;
}
.header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    position: relative;
    top: 40vh;
    
}
.big-title {
    color: #feca57;
    font-size: 50px;
    animation: test 5s ease-in-out infinite;
}
.second-title {
    color: #ff9f43;
    font-size: 20px;
}
.nav {
    text-transform: uppercase;
    text-align: center;
    top: 0;
}
.nav a{
    text-decoration: none;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ff9f43;
    border-radius: 20px;
    transition: all 0.2s;
}
.nav a:hover {
    background-color: black;
    padding: 10px;
    margin: 10px;
}
